/* .css-nk89i7-MuiPickersCalendarHeader-root {
    background-color: #303443;
}

.MuiPickersFadeTransitionGroup-root,
.MuiPickersCalendarHeader-root {
    background-color: #303443;
} */
.MuiDateCalendar-root {
    background-color: #303443;
}

.css-k008qs {
    margin: 20px;
}
